<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecology & Health Sustainable Platform</title>

    <!-- External CSS for styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="header">
        <h1>Ecology & Health Sustainable Platform</h1>
    </div>

    <div class="container" itemprop="description">
        <div class="description">
            <p>
                Ecology & Health Sustainable Platform (EHSP) generates multiple environmental parameters derived from different satellite remote sensing images through Google Earth Engine (GEE). The users only need to provide the shapefile (*.shp) of any specific study regions, which might contain administration boundary levels with a unique ID column, EHSP will automatically generate either zonal statistic summaries or raster files in the study regions upon request.
            </p>
        </div>
        <form id="Index_Type" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="options">
                    {{ form.product_type.label }}
                    {{ form.product_type }}
                    {% if form.product_type.errors %}
                    {% for error in form.product_type.errors %}
                    <span class="error">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <p class="submit-button">{{ form.submit() }}</p>
        </form>
    </div>

    <div class="footer">
        <div class="danger">
            <p><strong>Note:</strong> Currently, EHSP works for a limited geographical area size (the size of the shapefile should be less than 5 MB) and the processing period is two years at most to avoid potential internet connection issues. If you need to process huge study areas or a longer temporal period, please contact Dr. Ting-Wu Chuang <a href="mailto:chtingwu@tmu.edu.tw" itemprop="email">Send Email</a>
            </p>
        </div>
    </div>
</body>

</html>