<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product label</title>

    <!-- External CSS for styling -->
    <link rel="stylesheet" href="{{ url_for('routes.static', filename='css/zonal.css') }}">

    <!-- External JavaScript file -->
    <script src="{{ url_for('routes.static', filename='js/script.js') }}" defer></script>
</head>

<body>
    <form id="Product_label" action="{{ url_for('routes.zonal_all') }}" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        <h2>The Satellite Image Products</h2>
        <p>{{ form.satellite_products.label }} {{ form.satellite_products }}
            {% if form.satellite_products.errors %}
                {% for error in form.satellite_products.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </p>
        <!-- 移除 <br> 標籤 -->
        <p class="red-text">Please upload the shapefiles of your study region (The *.shp, *.dbf, and *shx files are required for uploaded shapefiles)</p>
        <div class="file-upload">
            <label for="file">Select Files</label>
            <input type="file" id="file" name="file" multiple accept="" value="Select Files">
        </div>

        <!-- Submit button moved inside the form -->
        <p>{{ form.submit() }}</p>
    </form>
</body>

</html>